// Override any variables from spectaql's default theme

$background: #222222;

$text-color: white;
$text-color-subtle: #808080;

$link-color: #66d9ef;
$link-color-hover: #83dced;

$border-color: #565656;
$border-color-subtle: #404040;

$background-code-block-heading: #000000;
$background-code-block: #000000;

$background-error: #c60609;
$text-color-error: #fed7d8;

$background-arguments: #000;

$overlay-background: rgba(100, 100, 100, 0.7) !default;
$overlay-background-hidden: rgba(100, 100, 100, 0) !default;

// Copy from spectaql/src/themes/default/stylesheets/base.scss
$size-desktop: 48em !default;
$size-content-break: $size-desktop !default;

// Override anything else with rules under the `#spectaql` id

#spectaql {
  .row-field-arguments .field-arguments {
    border: none;
  }
  p code,
  td code {
    font-weight: bold;
    background-color: rgba(226, 238, 240, 0.2);
  }
  h4 code {
    color: rgb(253, 68, 130);
    background-color: rgba(226, 238, 240, 0.1);
  }
  .doc-row .doc-copy,
  .doc-row .doc-examples {
    @media (min-width: $size-content-break) {
      width: 90% !important;
    }
    padding-left: 0px !important;
  }
}
